@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    width:340px;
    height: 450px;
    margin: 0 auto;
}

.card-border{
    width:305px;
    height:400px;
    margin: 0 auto;
    position: relative;
    top:10px;
    background-color: #b5b6b0;
    border-radius: 16px 15px 62px 63px;
    -webkit-border-radius: 16px 15px 62px 63px;
    -moz-border-radius: 16px 15px 62px 63px;
}

.inner-section{
    width:286px;
    height:160px;
    background-color: #b5b6b0;
    position: relative;
    margin: 0 auto;
    top:50px;
    border-left:1px solid #a2a29a; 
    border-bottom:1.5px solid #fff; 
    border-right:2px solid #a2a29a; 
    border-top:3.5px solid #a2a29a;
    border-top-left-radius: 5pt; 
    border-top-right-radius: 5pt; 
    border-bottom-left-radius: 5pt; 
    border-bottom-right-radius: 5pt; 
}

.inner-upper-part{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-circle{
    width:20px;
    height:20px;
    background-color: #a2a29a;
    position: relative;
    border-radius: 50pt;
    top:10px;
    border:1px solid #88877e;
    margin-left: 5px;
}

.center{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 30px solid #a2a29a;
  position: relative;
  top:10px;
}

.right-circle{
    width:20px;
    height:20px;
    background-color: #a2a29a;
    position: relative;
    top:10px;
    border-radius: 50pt;
    border:1px solid #88877e;
    margin-right:5px;
}


.inner-right-circle{
    width:2.9px;
    height:2.9px;
    background-color: #dad3d3;
    border-radius: 2px;
    margin: 0 auto;
    position: relative;
    top:8px;
}
 .ps-symbol{
    width:85px;
    height:50px;
    margin: 0 auto;
    position: relative;
    top:18px;
    align-content: center;
 }

 img{
    width:80px;
    height:60px;
 }

 .playstation{
    width:110px;
    height:30px;
    margin: 0 auto;
    position: relative;
    top:30px;
 }

 .memory-card{
    width:200px;
    height:30px;
    position: relative;
    top:40px;
    margin: 0 auto;
    text-align: center;
 }

 p{
    font-family: Play;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top:2px;
 }

 .border{
    background-color: #ddd2d2;
    width:99px;
    height:0.7px;
    position: relative;
    top:29.3px;
    margin: 0 auto;
    left:-50px;
    border-radius: 50%;
    z-index: 100;
 }
 .border2{
    background-color: #777272;
    width:58px;
    -moz-transform: rotate(149deg) translate(-12px, -7px);
    -webkit-transform: rotate(149deg) translate(-12px, -7px);
    -o-transform: rotate(149deg) translate(-12px, -7px);
    -ms-transform: rotate(149deg) translate(-12px, -7px);
    transform: rotate(149deg) translate(-12px, -7px);
    height:0.7px;
    position: relative;
    top:14px;
    margin: 0 auto;
    left:-68px;
    border-radius: 50%;

 }
 .border3{
    background-color: #777272;
    width:58px;
    -moz-transform: rotate(-149deg) translate(-12px, -7px);
    -webkit-transform: rotate(-149deg) translate(-12px, -7px);
    -o-transform: rotate(-149deg) translate(-12px, -7px);
    -ms-transform: rotate(-149deg) translate(-12px, -7px);
    transform: rotate(-149deg) translate(-12px, -7px);
    height:0.7px;
    position: relative;
    top:1px;
    margin: 0 auto;
    left:-11.5px;

    border-radius: 50%;
 }

 .left-border{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-190px;
    left:-32px;
 }
 .left-border2{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-206px;
    left:-32px;
 }

 .left-border3{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-223px;
    left:-32px;
 }

 .left-border4{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-239px;
    left:-32px;
 }

 .left-border5{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-255px;
    left:-32px;
 }
 .left-border6{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-272px;
    left:-32px;
 }

 .left-border7{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-289px;
    left:-32px;
 }

 .left-border8{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-305px;
    left:-32px;
 }
 .left-border9{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-322px;
    left:-32px;
 }

 .left-border10{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-338px;
    left:-32px;
 }

 .left-border11{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-355px;
    left:-32px;
 }

 .left-border12{
    -moz-transform: rotate(125deg) translate(-12px, -7px);
    -webkit-transform: rotate(125deg) translate(-12px, -7px);
    -o-transform: rotate(125deg) translate(-12px, -7px);
    -ms-transform: rotate(125deg) translate(-12px, -7px);
    transform: rotate(125deg) translate(-12px, -7px);
    border-radius: 1px;
    width:40px;
    height:30px;
    background-color: #fff;
    position: relative;
    top:-372px;
    left:-32px;
 }

 .right-border{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-575px;
width:40px;
height:30px;
left:318px;
 }

 .right-border2{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-593px;
width:40px;
height:30px;
left:318px;
 }
 .right-border3{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-610px;
width:40px;
height:30px;
left:318px;
 }
 .right-border4{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-628px;
width:40px;
height:30px;
left:318px;
 }
 .right-border4{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-630px;
width:40px;
height:30px;
left:318px;
 }
 .right-border5{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-648px;
width:40px;
height:30px;
left:318px;
 }
 .right-border6{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-667px;
width:40px;
height:30px;
left:318px;
 }
 .right-border7{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-685px;
width:40px;
height:30px;
left:318px;
 }
 .right-border8{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-705px;
width:40px;
height:30px;
left:318px;
 }
 .right-border9{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-725px;
width:40px;
height:30px;
left:318px;
 }
 .right-border10{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-743px;
width:40px;
height:30px;
left:318px;
 }
 .right-border11{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-762px;
width:40px;
height:30px;
left:318px;
 }
 .right-border12{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-780px;
width:40px;
height:30px;
left:318px;
 }
 .right-border13{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-798px;
width:40px;
height:30px;
left:318px;
 }
 .right-border14{
    -moz-transform: rotate(135deg) translate(-12px, -7px);
-webkit-transform: rotate(134deg) translate(-12px, -7px);
-o-transform: rotate(134deg) translate(-12px, -7px);
-ms-transform: rotate(134deg) translate(-12px, -7px);
transform: rotate(-135deg) translate(-12px, -7px);
background-color: #fff;
position: relative;
top:-817px;
width:40px;
height:30px;
left:318px;
 }
 
 
 .sony{
    width:100px;
    height:30px;
    margin: 0 auto;
    position: relative;
    top:60px;
 }

 #sony-pic{
    width:100px;
    height:20px;
    text-align: center;
 }